* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #1b1a55;
  /* background: linear-gradient(
    180deg,
    #03001c,
    #2d033b,
    #810ca8,
    #c147e9,
    #e5b8f4,
    #c147e9,
    #810ca8
  ); */
}

h1 {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
  color: #1b1a55;
  font-size: 3.2rem;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #dde6ed;
  padding: 25px 30px;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices {
  margin-bottom: 30px;
}

.choices button {
  font-size: 7.5rem;
  min-width: 160px;
  margin: 0 10px;
  border-radius: 50%;
  border: #1b1a55 solid 1px;
  background-color: #fff;
  cursor: pointer;
}

.choices button:hover {
  background-color: lightblue;
}

#playerDisplay,
#computerDisplay {
  font-size: 2.5rem;
}

#resultDisplay {
  font-size: 5rem;
  margin: 30px 0;
}

.scoreSection {
  display: flex;
  justify-content: space-between;
  gap: 175px;
}

.scoreDisplay {
  font-size: 1.5rem;
}

.greenText,
#playerScoreDisplay {
  color: green;
}

.redText,
#computerScoreDisplay {
  color: red;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .container {
    width: 75%;
  }

  h1 {
    font-size: 3rem;
  }

  .choices button {
    font-size: 5rem;
    min-width: 100px;
  }

  #playerDisplay,
  #computerDisplay {
    font-size: 2rem;
  }

  #resultDisplay {
    font-size: 4rem;
  }

  .scoreDisplay {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 75%;
  }

  .choices {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 1.6rem;
  }

  .choices button {
    font-size: 4rem;
    min-width: 33%;
  }

  #playerDisplay,
  #computerDisplay {
    font-size: 1.5rem;
  }

  #resultDisplay {
    font-size: 3rem;
  }

  .scoreSection {
    gap: 30px;
  }

  .scoreDisplay {
    font-size: 1rem;
  }
}
